<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 开启spring注解 -->
    <context:component-scan base-package="com.clps"/>

    <!-- 导入 .properties 资源配置文件 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:jdbc.properties"/>
    </bean>

    <!-- 配置数据源 datasource -->
    <bean id="dataSource" destroy-method="close"
          class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 配置 sessionFactory -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!-- 配置datasource -->
        <property name="dataSource" ref="dataSource"/>

        <!-- 配置mapping映射文件 写法一 -->
        <property name="mappingDirectoryLocations">
            <list>
                <value>classpath:com/clps/demo/domain/</value>
                <value>classpath:com/clps/jPet/pojo/mapping/</value>
            </list>
        </property>

        <!-- 配置mapping映射文件 写法二 -->
        <!-- <property name="mappingResources">
            <list>
                <value>com/clps/demo/pojo/User.hbm.xml</value>
                <value>com/clps/jPet/pojo/Account.hbm.xml</value>
                <value>com/clps/jPet/pojo/Bannerdata.hbm.xml</value>
                <value>com/clps/jPet/pojo/Category.hbm.xml</value>
                <value>com/clps/jPet/pojo/Inventory.hbm.xml</value>
                <value>com/clps/jPet/pojo/Item.hbm.xml</value>
                <value>com/clps/jPet/pojo/Lineitem.hbm.xml</value>
                <value>com/clps/jPet/pojo/Orders.hbm.xml</value>
                <value>com/clps/jPet/pojo/Orderstatus.hbm.xml</value>
                <value>com/clps/jPet/pojo/Product.hbm.xml</value>
                <value>com/clps/jPet/pojo/Profile.hbm.xml</value>
                <value>com/clps/jPet/pojo/Sequence.hbm.xml</value>
                <value>com/clps/jPet/pojo/Signon.hbm.xml</value>
                <value>com/clps/jPet/pojo/Supplier.hbm.xml</value>
            </list>
        </property> -->

        <!-- 配置 hibernate.cfg.xml 中的信息 -->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
            </props>
        </property>
    </bean>

    <!-- 配置 Spring 的声明式事务 -->
    <!-- 定义事务管理器 -->
    <bean id="txManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- 定义事务 -->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <!-- 配置事务属性 -->
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut expression="execution(public * com.clps.*.dao..*.*(..))"
                      id="bussinessService"/>
        <aop:advisor pointcut-ref="bussinessService" advice-ref="txAdvice"/>
    </aop:config>

    <!-- 以上为spring-hibernate核心配置文件 -->
    <!-- ************************************************************************* -->
    <!-- Spring 调用 Hibernate 的持久化操作 -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>